.chatinput{
    widht: 100%;
    display: flex;
    border-radius: 30px;
    overflow: hidden;
    border: 2px solid black;
}

.chatinput textarea{
    flex:6;
    height: 50px;
    padding: 10px 20px;
    border: none;
    overflow-y: hidden;
    outline: none; 
    resize: none; 
    font-size: 16px;
}

.chatinput button{
    flex:1;
    height: 50px;
    background-color: black;
    border-radius: 0 30px 30px 0;
    color: white;
    border: none;
    cursor: pointer;
    justify-content: center;
}

.smallChatInput{
    widht: 100%;
    display: flex;
    border-radius: 30px;
    overflow: hidden;
    border: 2px solid black;
}

.smallChatInput textarea{
    flex:6;
    height: 30px;
    padding: 5px 10px;
    border: none;
    overflow-y: hidden;
    outline: none; 
    resize: none; 
    font-size: 12px;
}

.smallChatInput button{
    flex:1;
    height: 30px;
    background-color: black;
    border-radius: 0 30px 30px 0;
    color: white;
    border: none;
    cursor: pointer;
    justify-content: center;
}