.message{
    display: flex;
}

.messagecontainer{
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid #888;
    box-shadow: 0 0 5px #888;
}

.sidemessagecontainer{
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #888;
    box-shadow: 0 0 5px #888;
}

.sidemessagecontainer p{
    margin: 0;
    font-size: 12px;
    letter-spacing: 0.5px;
    line-height: 1.75;
}

.messagecontainer p{
    margin: 0;
    font-size: 15px;
    letter-spacing: 0.5px;
    line-height: 1.75;
}


.messagecontainer h3{
    font-weight:500;
}

.sidemessagecontainer h3{
    font-weight:500;
    font-size: 14px;
}

.message.right{
    justify-content: flex-start;
}

.message.left{
    justify-content: flex-end;
}

.messagecontainer.right{
    background-color: rgb(241, 245, 249);
    margin-right: 10%;
}

.messagecontainer.left{
    background-color: rgb(203, 213, 225);
    margin-left: 10%;
}